<%# index for entries %>

<div id="add">
	<form method="get" action="/entries/new">
		<label for="url">Rickroll URL</label>
		<input type="text" name="url" size="22" class="large required clear-on-click" value="http://" />
		<input type="submit" name="submit" value="submit" class="submit" />
	</form>
		
</div> <!-- /#add -->

<div id="user-info">
	<!-- you are: <span class="username editable"><%= current_user %></span> -->
</div>


<div id="entries">

	<%= partial 'pagination' %>

	<!-- rickrolls themselves -->
	<ul>
	<% @entries.each do |entry| -%>
		<li id="entry-<%= entry.id %>">
			<a href="<%= entry.link_url %>" rel="nofollow"><img src="<%= entry.thumbnail %>" alt="" title="" class="screenshot" /></a>
			
			<div class="info">			
				<% 
					limit = 40
					display = (entry.title || entry.url).gsub(/\/$/,'').gsub(/^http\:\/\//,'')
					display = display.length > limit ? display[0..limit]+'...' : display					
				-%>
				<span class="title"><%= link_to display, entry.link_url, :rel => 'nofollow' %></span>
				<span class="created_at">
					added <%= timeago(entry.created_at) %><% unless entry.updated_at.nil? or entry.created_at == entry.updated_at %>; last flagged <%= timeago(entry.updated_at) %><% end %>
				</span>
				<%# new_voter = entry.flags.select { |f| f.ip == request.remote_ip }.empty? #CACHEME %>	    
				<%# with page caching all dreams come true %>
				<% new_voter = true %>
			<div class="flags">			
				<span class="confirm"><code>+</code> 
				  <% if new_voter %>
				    <%= link_to "IT'S A RICKROLL", url(:confirm_entry, entry), :class => 'flag hijax', :rel => 'nofollow' %> 
			    <% else %>
			      <strong>confirmations:</strong>
			    <% end %>
			    <strong class="count"><%= entry.confirmations.length %></strong>
		    </span>
				<span class="dispute"><code>-</code> 
				  <% if new_voter %>
  				  <%= link_to "not a rickroll", url(:dispute_entry, entry), :class => 'flag hijax', :rel => 'nofollow' %> 
  				<% else %>
  				  <strong>disputes:</strong>
  				<% end %>
				  <strong class="count"><%= entry.disputes.length %></strong>
				</span>			
				<br class="clear" />
			</div> <!-- /.flags -->

      <span class="thanks"><em><% if not new_voter %>Thanks for your vote<% end %></em></span>
	
			<div class="comments">
		   	<%= link_to "Comments", url(:entry, entry)+"#disqus_thread" %>
			</div> <!-- /.comments -->



			<div class="stats">
				<% confirms = entry.confirmations.length; disputes = entry.disputes.length %>
				<% width = 300; height = 10 #FIXME %>
				<div style="float: right; display: inline; width: <%= width - 1%>px; height: 3px; background-color: #aaa;">&nbsp;</div>
				<div style="background-color: #fbb; float: right; clear: right; display: inline; width: <%= (entry.controversy * width).to_i %>px; height: <%= height %>px;">&nbsp;<%#= ("%.2f" % entry.controversy) %></div>
				<div style="background-color: #bfb;float: right; display: inline; width: <%= ((1.0-entry.controversy) * width).to_i %>px; height: <%= height %>px; ">&nbsp;<%#= ("%.2f" % (1.0-entry.controversy)) %></div>
			</div> <!-- /.stats -->

		
  	  </div> <!-- /.info -->
		</li>
	
	
	<% end unless @entries.nil? -%>
	<%= '<h3>No entries!</h3>' if @entries.nil? or @entries.empty? %>
	</ul>

	<br />
	<%= partial 'pagination' %>

</div> <!-- /#entries -->




<!-- add disqus comment counts -->
<script type="text/javascript">
//<[CDATA[
(function() {
		links = document.getElementsByTagName('a');
		query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script type="text/javascript" src="http://disqus.com/forums/rickrolldb/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

