<%# index for entries %>

<div id="add">
	<form method="POST" action="<%= url(:entries) %>">
		<% entry = Entry.new %>
		<label for="entry[url]">Rickroll URL</label>
		<input type="text" name="entry[url]" size="25" class="large required clear-on-click" value="http://" />
		<input type="submit" name="submit" value="submit" class="submit" />
	</form>
		
</div> <!-- /#add -->

<div id="user-info">
	you are: <span class="username editable"><%= current_user %></span>
</div>


<div id="entries">
	<h2>
	  The Culprits 
	  <br />
	  <small><%= @entries.length %> submitted; <%= @entries.select { |e| e.confirmed? }.length %> confirmed</small>
	</h2>

	<ul>
	<% @entries.sort_by { |e| e.controversy }.each do |entry| -%>
		<li>
			<a href="<%= url %>"><img src="<%= entry.thumbnail %>" alt="" title="" class="screenshot" /></a>
			
			<div class="info">			
				<% 
					limit = 40
					display = entry.title || entry.url
					display = display.length > limit ? display[0..limit]+'...' : display
					url = (entry.url =~ /^http/) ? entry.url : "http://#{entry.url}"
				-%>
				<span class="title"><%= link_to display, url %></span>
				<span class="created_at">
					added <%= timeago(entry.created_at) %>
					<% unless entry.updated_at.nil? or entry.created_at == entry.updated_at %>, updated <%= timeago(entry.updated_at) %><% end %>
				</span>
				<% unless entry.user.nil? %><span class="created_at">by <%= timeago(entry.user.to_s) %></span><% end %>
	

			<% new_voter = entry.flags.select { |f| f.ip == request.remote_ip }.empty? #CACHEME %>	    
			<div class="flags">				
				<span class="confirm"><code>+</code> <%= link_to "RICKROLL !!1", url(:confirm_entry, entry), :class => 'flag hijax' if new_voter %> (<strong class="count"><%= entry.confirmations.length %></strong>)</span>
				<span class="dispute"><code>-</code> <%= link_to "not a rickroll", url(:dispute_entry, entry), :class => 'flag hijax' if new_voter %> (<strong class="count"><%= entry.disputes.length %></strong>)</span>				
				<% if not new_voter %><h5>Thanks for your vote, <%= request.remote_ip %></h5><% end %>
			</div>
		</div> <!-- removeme -->
			<div class="stats">
				<% confirms = entry.confirmations.length; disputes = entry.disputes.length %>
				<% width = 130; height = 14 #FIXME %>
				<% disputage = entry.controversy %>
				<div style="float: right; display: inline; width: <%= width %>px; height: 3px; background-color: #aaa;">_</div>
				<div style="float: right; clear: right;display: inline; width: <%= (1.0-disputage) * width%>px; height: <%= height %>px; background-color: #fbb;"><%= (1.0)-disputage %></div>
				<div style="float: right; display: inline; width: <%= (disputage) * width %>px; height: <%= height %>px;  background-color: #bfb;"><span><%= disputage %></span></div>
			</div> <!-- /.stats -->


			<!-- <div class="comments permalink">
				<%= link_to "comments (#{entry.comments.length}) &#8734;", entry_url(entry) %>
			</div>	 -->
		
		</li>
	
	
	<% end -%>
	</ul>
</div> <!-- /#entries -->
