<h2>Rickroll info</h2>

<div class="floatRight">
  <img src="<%= @entry.thumbnail %>" alt="" />
</div>

<ul class="entry-info">
  <li>URL: <%= @entry.url %></li>
  <li>Title: <%= @entry.title || "(nil)" %></li>
  <li>Submitted <%= timeago(@entry.created_at) %>, on <%= @entry.created_at.strftime('%D %I:%m(pm/am)') %></li>
  <li>By <%= @entry.user || "(anonymous)" %></li>
</ul>

<h2 class="clear">Comments</h2>
<a name="comments"></a>
<div class="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/rickrolldb/embed.js"></script>
  <noscript><a href="http://rickrolldb.disqus.com/?url=ref">Comments.</a></noscript>


