<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<title>Rickroll Database: never forget</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
	
	<script src="/javascripts/jquery.pack.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){

			// clear input on click
			$('input.clear-on-click').click(function(){
				$(this).val('');
			});
			
			// editable name
			$('.editable').click(function(){
				var name = prompt("What is your name?");
				$(this).html(name);
				// set cookie, hidden form field
			});
			
			// TODO hijax voting links, comments
			
		});
	</script>
</head>

<body>
	<div id="container">
	  <div id="header">
		
		
			<div id="title">
				<a href="/"><img src="/images/rick-donotwant-slice-sm.jpg" alt="Rickroll: do not want" title="Rickroll: do not want." border="0" class="logo left" /></a>

				<br />
		  	<h1><a href="/">Rickroll Database</a></h1>
				<h2>Saving the Internets... one roll at a time.</a></h2>
			</div>
	
			<div id="about" class="clear">
				<ul>
					<li>Have you or someone you love been rickroll'd? <br />
						Submit the URL below</li>
					<li>Protect yourself using Firefox + <a href="https://addons.mozilla.org/en-US/firefox/addon/1865">Adblock Plus</a> 
						and subscribing to the ricklist</li>
					<li>Help verify the database by confirming or disputing entries</li>
					<li>What's a rickroll? => <a href="http://youtube.com/watch?v=KT--CsBh5TM" title="Rickroll 101, narrp">intro video</a>, narrp.</li>
			</div>

			<div id="ricklist">
				<%= link_to 'Subscribe w/ Adblock Plus', 'abp://subscribe/?location=http%3A%2F%2Frickrolldb.com%2Fricklist.txt&title=RickrollDB/ricklist.txt', :class => 'subscribe' %>
				<%= link_to 'RICKLIST.TXT', '/ricklist.txt', :class => 'ricklist' %>
			</div>
			
			<br class="clear" />
			
	  </div>
  
	  <div id="main">		
	    <%= catch_content :layout %>
	  </div>
    
	  <div id="footer">
			<%= link_to 'about', '/about' %> - <%= link_to 'privacy policy', '/privacy' %> <br /><br />
	    copyfree 2007 <a href="http://tramchase.com">Jamie Wilkinson</a> <br />
	  </div>
</div>

</body>
</html>