<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<title>Rickroll Database: never get rickroll'd again</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
	
	<script src="/javascripts/jquery.pack.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.dimensions.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/rickrolldb.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="container">
		
	  <div id="header">
		
			<div id="title">
				<a href="/"><img src="/images/rick-donotwant-slice-sm.jpg" alt="Rickroll: do not want" title="Rickroll: do not want." border="0" class="logo left" /></a>

				<br />
		  	<h1><a href="/">Rickroll Database</a></h1>
				<h2>Saving the Internets... one roll at a time.</a></h2>
			</div>
	
			<!-- status -->
			<div id="loading"><img src="/images/loading.gif" alt="Loading..." title="Loading..." /></div>
			<div id="flash"></div>
	
			<!-- aboot -->
			<div id="about" class="clear">
				<ul>
					<li>Have you or someone you love been rickroll'd? <br />
						Submit the URL below. </li>
					<li>Protect yourself by using Firefox, installing <a href="https://addons.mozilla.org/en-US/firefox/addon/1865">Adblock Plus</a>, 
						and subscribing to the ricklist</li>
					<li>Help verify the database by confirming or disputing entries</li>
					<li>What's a rickroll? => <a href="http://youtube.com/watch?v=KT--CsBh5TM" title="Rickroll 101, narrp">intro video</a> (narrp)</li>
			</div>

			<!-- linx -->
			<div id="ricklist">
				<%= link_to 'Subscribe w/ Adblock Plus', 'abp://subscribe/?location=http%3A%2F%2Frickrolldb.com%2Fricklist.txt&title=RickrollDB/ricklist.txt', :class => 'subscribe' %>
				<!-- <%= link_to 'RICKLIST.TXT', '/ricklist.txt', :class => 'ricklist' %> -->

				<br /><br />
				<%= link_to 'bookmarklet', bookmarklet_url, :class => 'ricklist' %>
			</div>
			
			<br class="clear" />
			
	  </div>
		
  
	  <div id="main">		
	    <%= catch_content :layout %>
	  </div>
    
	  <div id="footer">
			<%= link_to 'about', '/about' %> - <%= link_to 'privacy policy', '/privacy' %> <br /><br />
	    copyfree 2007 <a href="http://tramchase.com">Jamie Wilkinson</a> <br />
	    <br />
            <a href="http://fffff.at"><% 3.times { %><%='<img src="/images/fatlab.png" title="FATLAB" alt="FATLAB" border="0" /> '%><% } %></a>
  

	  </div>
</div>

<!-- stats -->
<% if MERB_ENV == 'production' -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-96220-12");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<% end -%>

</body>
</html>
